<section class="qn-App">
  <header class="qn-Header">
    <h1 class="qn-Header-heading"><a ui-sref="app">Quick Notes</a></h1>
    <a class="qn-Button" ui-sref="app.note.new">New Quick Note</a>
  </header>
  <div class="qn-App-body">
    <nav class="qn-App-nav qn-Nav">
      <div class="qn-Nav-section" ng-repeat="category in app.notes.categorized | orderBy:'name'">
        <div class="qn-Nav-sectionHeader">
          <h2 class="qn-Nav-heading">{{category.name}}</h2>
          <a ui-sref="app.category.edit({id: category.id})" ui-sref-active="qn-Nav-item--active">Edit</a>
        </div>
        <div ng-repeat="note in category.notes | orderBy:'title'">
          <a class="qn-Nav-item" ui-sref="app.note.edit({id: note.id})" ui-sref-active="qn-Nav-item--active">{{note.title}}</a>
        </div>
      </div>
      <div class="qn-Nav-section" ng-if="app.notes.uncategorized.notes.length">
        <div class="qn-Nav-sectionHeader">
          <h2 class="qn-Nav-heading qn-Nav-heading--unspecified">{{app.notes.uncategorized.name}}</h2>
        </div>
        <div ng-repeat="note in app.notes.uncategorized.notes | orderBy:'title'">
          <a class="qn-Nav-item" ui-sref="app.note.edit({id: note.id})" ui-sref-active="qn-Nav-item--active">{{note.title}}</a>
        </div>
      </div>
    </nav>
    <div class="qn-App-content" ui-view></div>
  </div>
</section>
