<section class="qn-App">
  <header class="qn-Header">
    <h1 class="qn-Header-heading"><a ui-sref="app">Quick Notes</a></h1>
    <a class="qn-Button" ui-sref="app.note.new">New Quick Note</a>
  </header>
  <div>
    <nav>
      <div ng-repeat="category in app.notes.categorized | orderBy:'name'">
        <div>
          <h2>{{category.name}}</h2>
          <a>Edit</a>
        </div>
        <div ng-repeat="note in category.notes | orderBy:'title'">
          <a ui-sref="app.note.edit({id: note.id})" ui-sref-active="--active">{{note.title}}</a>
        </div>
      </div>
      <div ng-if="app.notes.uncategorized.notes.length">
        <div>
          <h2>{{app.notes.uncategorized.name}}</h2>
        </div>
        <div ng-repeat="note in app.notes.uncategorized.notes | orderBy:'title'">
          <a ui-sref="app.note.edit({id: note.id})" ui-sref-active="--active">{{note.title}}</a>
        </div>
      </div>
    <nav>
    <div ui-view></div>
  </div>
</section>
