.qn-App {
  border: 0.1em solid @color-Border;
  color: @color-Text--900;
  line-height: 1;
  margin: 5%;

  :focus {
    box-shadow: 0 0 0 unit(1/16, em) @color-White, 0 0 0 unit(3/16, em) @color-Interactive--150;
    outline: 0;
    position: relative;
  }

  ::selection {
    background-color: @color-Interactive--150;
  }

  &-body {
    display: flex;
  }

  &-nav {
    min-width: 12em;
  }

  &-content {
    border-left: 0.1em solid @color-Border;
    flex: 1;
    max-width: 40em;
  }
}
