.qn-Button {
  background-color: @color-Interactive--150;
  border: unit(2/16, em) solid @color-Interactive--400;
  border-radius: 0.25em;
  color: @color-Interactive--750;
  padding: unit(10/16, em);
  position: relative;
  text-decoration: none;
  text-shadow: 0 unit(1/16, em) 0 @color-White;

  &:hover,
  &:focus {
    background-color: @color-Interactive--400;
    color: @color-White;
    text-shadow: 0 unit(1/16, em) 0 @color-Interactive--750;
  }

  &:active {
    position: relative;
    top: unit(1/16, em);
  }

  &[disabled],
  &--disabled {
    .disabled();
  }

  &--primary {
    background-color: @color-Interactive--750;
    border-color: @color-Interactive--750;
    color: @color-White;
    text-shadow: none;

    &:hover,
    &:focus {
      background-color: @color-White;
      color: @color-Interactive--750;
      text-shadow: inherit;
    }

    &[disabled],
    &--disabled {
      .disabled();
    }
  }

  .disabled() {
    cursor: default;

    &,
    &:hover,
    &:focus {
      background-color: @color-Interactive--100;
      border-color: @color-Interactive--150;
      color: @color-Interactive--400;
      text-shadow: 0 unit(1/16, em) 0 @color-White;
    }

    &:active {
      top: 0;
    }
  }
}
