.qn-CategorySelector {

  &-selection {
    .textShadow();
    background-color: @color-Interactive--100;
    border: unit(1/16, em) solid @color-Interactive--400;
    border-radius: 0.25em;
    color: @color-Interactive--750;
    cursor: pointer;
    padding: 0.5em;
    min-width: 20em;
    text-align: left;

    &:focus {
      .focus();
    }

    &--open {
      border-radius: 0.25em 0.25em 0 0;
    }

    &--unspecified {
      color: @color-Interactive--750;
      font-style: italic;
    }

    &--disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: @color-Interactive--100;
      border-color: @color-Interactive--150;
      color: @color-Interactive--400;
      cursor: default;

      .qn-CategorySelector-icon {
        fill: @color-Interactive--400;
      }
    }

    &Content {
      display: flex;
    }

    &Text {
      display: block;
      flex: 1;
    }
  }

  &-icon {
    fill: @color-Interactive--750;
    margin-left: 1em;
  }

  &-backdrop {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &-options {
    .shadow();
    background-color: @color-White;
    border: unit(1/16, em) solid @color-Interactive--400;
    box-sizing: border-box;
    display: block;
    margin: unit(-1/16, em) 0 0;
    min-width: 20em;
    padding: 0;
    position: absolute;
    z-index: 1;
  }

  &-legend {
    .screenReadersOnly();
  }

  &-option {

    &--newCategory {
      border-top: unit(1/16, em) solid @color-Interactive--150;
      padding: 0 0.5em 0.5em;
    }
  }

  &-input {
    .screenReadersOnly();

    &:checked {

      + .qn-CategorySelector-label {
        background-color: @color-Interactive--100;
      }
    }

    &:focus {
      position: absolute;

      + .qn-CategorySelector-label {
        .focus();
        position: relative;
      }
    }
  }

  &-label {
    .textShadow();
    color: inherit;
    display: flex;
    font-weight: bold;
    padding: 0.5em 0;

    &--unspecified {
      color: @color-Text--900;
      font-style: italic;
    }

    &--option {
      font-weight: inherit;
      padding: 0.5em;
      text-decoration: none;

      &:hover {
        background-color: @color-Interactive--100;
      }
    }

    &Text {
      display: block;
      flex: 1;
    }
  }
}
