.qn-Header {
  align-items: center;
  background-color: @color-Base--075;
  display: flex;
  padding: 0.5em 0.5em 0.5em 1em;

  &-heading {
    flex: 1;
    font-size: @scale-FontSize--15;
    font-weight: normal;
    margin: 0;
    padding: 0;

    &Link {
      color: @color-Text--900;
      text-decoration: none;
    }
  }
}
