.qn-Header {
  align-items: center;
  background-color: @color-Base--050;
  border-bottom: 0.1em solid @color-Border;
  display: flex;
  padding: 1em;

  &-heading {
    flex: 1;
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
    padding: 0;

    a {
      color: @color-Text--900;
      text-decoration: none;
    }
  }
}
