.qn-Input {
  border: unit(1/16, em) solid @color-Interactive--400;
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;

  &:focus {
    .focus();
  }

  &--disabled,
  &[disabled],
  fieldset[disabled] & {
    color: @color-Text--400;
    background-color: inherit;
    // Override Safari wanting to lighten the text color value.
    -webkit-text-fill-color: @color-Text--400;
  }

  &--textarea {
    line-height: 1.4;
    min-height: 10em;
  }
}
